<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KSMoneyLoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F5F25031E5E79DE000564BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5F251C1E5E79DF000564BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5F25271E5E79DF000564BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
